
.vertProductCard {
  
  width: 100%;
  height: 300px ;
  margin-bottom:100px ;
  overflow: hidden;
  display: flex;
  .imgContainer {
    width: 30%;
    height: 100%;
  
    img {
      width: 100%;
      aspect-ratio: 16/9;
      min-height: 120%;
    }
  }
  .DetailsContainer {
    width: 70%;
    min-height: 100%;
    background-color: rgb(202, 201, 201);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .item-description{
      height: 40%;
      overflow: hidden;
     }
    .ReatingContainer {
      display: flex;
      align-items: center;
      height: 13%;
      justify-content: flex-start;
      width: 100%;
    }
    
  }
  .actions{
 
    display: flex;
    align-items: flex-start ;
    justify-content: space-between;
    height: 50px;
  }
}
@media (max-width: 480px) {
  .vertProductCard {
   overflow: hidden;
   padding-bottom: 12px;
  margin-bottom:35px ;
   
    .imgContainer {
     height: 50%;
    margin:auto 0;
     
    }
    .item-heading{
      font-size: 14px;
    }
    .DetailsContainer {
     padding: 9px;
     .item-description{
      font-size: 12px;
     }
      .ReatingContainer {
      height: 10px;
      }
      button{
        font-size: 12px;
      }
      
    }
  }
}
