// @use "./vars";
// @use "./funcs";
// @use "./mixins";
.authContainer {
  width: 100%;
  height: 85%;
  background: black;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  // background-image: url("../../assets/signupBack.jpg");
  // background-position: center; /* Center the image */
  // background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: cover; /* Resize the background image to cover the entire container */
  margin-top: 65px;
  display: grid;
  grid-template-columns: 1fr;
  
  .formContainer {
    grid-row-start: 1;
    grid-column-start: 1;
    margin: auto;
    z-index: 1;
    width: 50%;
    min-height: 15%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 32px 0 rgba(31, 38, 135, 0.5);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 15px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 15px 32px 0 rgba(31, 38, 135, 0.842);
    }
    .err {
      color: red;
      font-size: 14px;
    }
    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap:10px;
      label{
        color: black;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 20px;
      }
      input {
        background: transparent;
      }
    }
    button {
      width: fit-content;
      padding: 10px 15px;
      background: transparent;
      border: 1px solid #545cf2d9;
      border-radius: 10px;
      font-size: 1.1rem;
      font-weight: 600;
      transition: 0.5s;
      text-transform: capitalize;
      align-self: center;
      &:hover {
        letter-spacing: 1px;
        background: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(12.5px);
        -webkit-backdrop-filter: blur(12.5px);
        border-radius: 10px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
    }
  }
}
