.card1{
    width:300px;
    min-height:350px ;
    background-color: red;
    border-radius: 12px;
    span{
        width: 100%;
        min-height: 14.2%;
        background-color: teal;
        border: 1px solid blue;
        margin: 2px;
    }
}