// @use "./vars";
// @use "./funcs";
// @use "./mixins";
.homeSec {
  position: relative;
  top: 80px;
  width: 100%;
  height: 100%;
  // background-image: url("../../assets/signupBack.jpg");
  // background-position: center; /* Center the image */
  // background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: cover; /* Resize the background image to cover the entire container */
  // background-attachment: fixed;
  .slider {
    width: 100%;
    height: 450px;
  }
  .cartIcon {
    position: fixed;
    top: 80px;
    right: 0px;
    width: 60px;
    height: 60px;
    background: #313b66;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
  }
  .homeContainer {
    width: 100vw;
    // overflow: hidden;
    display: grid;
    // margin: 0 auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 50px;
    transform: translateY(-150px);
  }
}

@media (min-width: 800px) {
  .homeSec {
    .homeContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (min-width: 400px) and (max-width: 800px) {
  .homeSec {
    .homeContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .homeSec {
    .homeContainer {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
