


.categoryBtn {
  cursor: pointer;
  padding: 8px 16px;
text-transform: capitalize;
font-weight: 700;
color:white;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #3c42af;
  }

  &.selected {
    background-color: #535bf2;
    color: white;
  }
}