// @use "./vars";
// @use "./funcs";
// @use "./mixins";
.or {
  color: black;
}
.social {
  width: 150px;
  height: 50px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  a {
    font-size: 40px;
    cursor: pointer;
    &.faceIcon {
      color: red;
    }
    &.gitIcon {
      color: rgb(0, 110, 255);
    }
    &.googleIcon {
      color: rgb(208, 255, 0);
    }
  }
}
