// 
.multi-card-carousel {
  margin-top: 20px;
  width: 100vw;
  position: relative;
  height: 600px;

  .carousel-wrapper {
    width: 95%;
    height: 100%;

    margin: auto;
    position: relative;
    .carousel-container {
      height: 100%;
      margin: 0 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }

    .Next,
    .Prev {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #0978d37e;
      font-size: 30px;
      border: none;
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      cursor: pointer;
      margin: 0 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        background-color: #0978d3ef;
      }
    }
    .Next {
      right: 0;
    }
    .Prev {
      left: 0;
    }
  }
}

@media only screen and (max-width: 480px) {
  .multi-card-carousel {
    height: 300px;
    .carousel-wrapper {
      height: 100%;

      .carousel-container {
        height: 100%;
        width: 80%;
      }

      .Next,
      .Prev {
        width: 40px;
        height: 40px;
      }
    }
  }
}
