.CartItemsCount {
    width: 15px;
    height: 15px;
    font-size: 13px;
    top: 0;
    right: 0;
    display: flex;
    color:azure;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: red;
    position: absolute;
  }