.courseCardContainer {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  width: 350px;
  height: 220px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 32px 0 rgba(31, 38, 135, 0.5);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  //    width: 220px;
  //   height: 350px;
  //   background: cyan;
  margin-top: 20px;

  padding: 10px;
  transition: .5s;
  &:hover{
     transform: translateY(-2px);
      box-shadow: 0 15px 32px 0 rgba(31, 38, 135, 0.842);
  }
  .courseCard {
    height: 85%;
    // background: blue;
    .courseName {
      height: 20%;
      max-height: 20%;
      //   background-color: teal;
    }
    .courseDesc {
      //   background: rosybrown;
      font-size: 13px;
      height: 30%;
      max-height: 30%;
    }
    .features {
      height: 20%;
      //   background-color: rgb(138, 43, 43);
      display: flex;
      align-items: center;
    }
    .couseCreater {
      height: 30%;
        // background-color: rgb(51, 43, 43);
      display: flex;
      align-items: center;
      .createrImg{
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
  .courseCardFooter {
    height: 15%;
    // background: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn{
       width: fit-content;
        padding: 5px 15px;
        background: transparent;
        // margin: 0 calc(50% -  40px);
        border: 1px solid #545cf2d9;
        border-radius: 10px;
        font-size: 1.1rem;
        font-weight: 600;
        transition: 0.5s;
        text-transform: capitalize;
        // margin:10px 0;
        align-self: center;
        &:hover {
          letter-spacing: 1px;
          background: rgba(255, 255, 255, 0.35);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(12.5px);
          -webkit-backdrop-filter: blur(12.5px);
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.18);
        }
    }
  }

}
